<footer class="footer" role="contentinfo">
    <div class="container">
        <hr class="hzline"></hr>
        <p>{{ site.description }}</p>
        <p class="footer-links">
            {% for link in site.links %}
                <a target="{% if link.external %}_blank{% else %}_top{% endif %}" href="{{ link.url }}">{{ link.name }}</a>
                {% if forloop.last == false %}&middot;{% endif %}
            {% endfor %}
        </p>
        <p>
            <small>Copyright &copy; Haralan Dobrev.</small>
        </p>
        <p>
            <a rel="license" href="https://github.com/hkdobrev/blog/blob/master/LICENSE.md" class="link-undecorated">
                <img alt="Creative Commons Licence" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
            </a>
        </p>
    </div>
</footer>
